<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Mission to Mars</title>
        <link 
            rel="stylesheet" 
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <!-- Add jumbotron to header -->
            <div class="jumbotron text-center">
                <h1>Mission to Mars</h1>
                <!-- Add button to activate scraping script -->
                <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Latest Data</a></p>
            </div>
        
            <!-- Mars News -->
            <div class="row" id="mars-news">
                <div class="col-md-12">
                    <div class="media">
                        <div class="media-body">
                            <h1 class="text-center">Latest Mars News</h1>
                            <em>
                                <h3 class="media-heading">{{mars.news_title}}</h3>
                            </em>
                            <p class="lead">{{ mars.news_paragraph }}</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Featured Image and Facts Table -->
            <div class="row" id="mars-featured-image">
                <!-- Second level -->
                <div class="col-md-7">
                    <h1 class="text-center">Featured Mars Image</h1>
                    <img src="{{ mars.featured_image }}" class="img-responsive center-block" alt="Responsive image"/>
                </div>
                <!-- Mars Facts -->
                <div class="col-md-5">
                    <div class="row" id="mars-facts">
                        <h1 class="text-center">Mars Facts</h1>
                        {{ mars.facts | safe }}
                    </div>
                </div>
            </div>
            
            <!-- Mars Hemispheres -->
            <div class="row" id="mars-hemispheres">
                <div class="col-md-12">
                    <h1 class="text-center">Mars Hemispheres</h1>
                </div>
                <!-- Loop through dictionary -->
                {% for hemisphere in mars.hemispheres %}
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="{{ hemisphere.img_url }}" class="img-responsive center-block" alt="Responsive image"/>
                        <div class="caption">
                            <h4 class="text-center">{{ hemisphere.title }}</h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
    <footer>
        <!-- Last Modified -->
        <div class="footer">
            <h6 class="text-right">Last Modified: {{ mars.last_modified}}</h6>
        </div>
    </footer>
</html>